.tab-content{
    background-color: whitesmoke;
    height: calc(100vh - 25vh);
} 
.odmik-n-vrhi{
    margin: 20px;
}
.nav-pills{
    display: block;
}
.nav-pills .nav-item{
    width: 100%;
}
.sender{
    line-height: 20px;
    color: #FFF;
}
.nav-item:hover{
    background-color: #212124;
}
.hidden{
    display: none;
}

.nav-item, .from-div{
    position: relative;
}
.zastava{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}
.zastava:hover{
    cursor: pointer;
    color: red;
}

.test-zastava{
  width: 16px;
  display: inline-block;
}

.test-zastava:hover{
  cursor: pointer;
  color: red;
}

.tab-pane{
    padding: 20px;
}


/* MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 7; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
  
  }
  .modalblur{
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
  backdrop-filter: blur(3px);
  }
  .modalcorrect{
    background-color: rgba(255, 255, 255, 0.4);
  }
  .modalincorrect{
    background-color: rgba(255, 255, 255, 0.4);
  }
  .modalwarn{
    background-color: rgba(255, 255, 255, 0.4);
  }
  /* Modal Content */
  .modal-content {
    background-color: #161618;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  }
  /* The Close Button */
  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus, .closefb:hover, .closefb:focus, .closepo:hover, .closeinc:hover, .closepr:hover{
    color: red;
    text-decoration: none;
    cursor: pointer;
  }

  .bg-li-1{
    background-color: rgb(248, 247, 255);
  }

  .container{
    border: rgba(0,0,0,0.1) solid 3px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 5px 10px rgba(0,0,0,0.1);
    padding: 0;
    background-color: #161618;
  }

  .from-tag{
    background-color: #888;
    border-radius: 100px;
    width: 30px;
    padding-left: 8px;
  }

  .from-div{
    height: 40px;
    width: 100%;
  }

  body{
    background-color: #000;
    color: #FFFF;
  }

  #mailcontent{
    background-color: #161618;
    border-left: #000 1px solid;
    border-top: #000 1px solid;
    border-radius: 5px;
  }

  .nav-item{
    background-color: #161618;
  }
  .overlay-btn{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
  }