.tab-content{
    background-color: whitesmoke;
    height: calc(100vh - 25vh);
} 
.odmik-n-vrhi{
    margin: 20px;
}
.nav-pills{
    display: block;
}
.nav-pills .nav-item{
    width: 100%;
}
.sender{
    line-height: 20px;
}
.nav-item:hover{
    background-color: aliceblue;
}
.hidden{
    display: none;
}

.nav-item{
    position: relative;
}
.zastava{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}
.zastava:hover{
    cursor: pointer;
    color: red;
}
.tab-pane{
    padding: 20px;
}