.tab-content{
    background-color: whitesmoke;
    height: calc(100vh - 25vh);
} 
.odmik-n-vrhi{
    margin-bottom: 50px;
}
.nav-pills{
    display: block;
}
.nav-pills .nav-item{
    width: 100%;
}
.sender{
    line-height: 20px;
}
.nav-item:hover{
    background-color: aliceblue;
}
.hidden{
    display: none;
}