@font-face {
    font-family: RobotoBold;
    src: url(../../fonts/robotobold.ttf);
}

body {
    font-family: RobotoBold;
}

#discount {
    padding-left: 0;
    padding-right: 0;
}

#menu{
    height: 10vh;
}

#url {
    max-width: 600px;
}

.shoppingItem {
    margin-top: 1vh;
    @media (max-width: 575.98px) {
        height: auto;
        width: 527px;
        max-width: 100%;
    }
    
    /* Small devices (phones, 576px and up) */
    @media (min-width: 576px) and (max-width: 767.98px) {
        height: 260px;
        width: 260px;
    }
    
    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 991.98px) {
        height: 350px;
        width: 350px;
    }
    
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) and (max-width: 1199.98px) {
        height: 230px;
        width: 230px;
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 1200px) and (max-width: 1399.98px) {
        height: 275px;
        width: 275px;
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 1400px) {
        height: 320px;
        width: 320px;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

#footer {
    height: 10vh;
}

#footerText {
    margin-top: 1.6vh;
}